@model IEnumerable<BigTree.Models.Trip>
@{

    ViewBag.Title = "Home Page";

}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome to the World</h1>
        <p>Plan your world trip right here.</p>
        <a asp-controller="App" asp-action="trips" class="btn btn-lg btn-success">View My Trips</a>
    </div>
    

</div>
